body {
  font-family: Arial, sans-serif;
  background-color: pink;
  text-align: center;
  max-width: 1000px;
  position: center;
  width: 100%;
  margin:auto;
  }

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}

#description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

form {
  text-align: center;
}

.form-control {
  text-align: center;
}

label {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  max-width: 500px;
 text-align: left;
 padding: auto;
 align: center;
}

textarea, {
  border: 1px solid #ccc;
  max-width: 500px;
  width: 100%;
  //padding: auto;
  align: center;
}

input{
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  text-align: left;
  height: 40px;
  align: center;
}

select {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  text-align: left;
  height: 40px;
  align: center;
}

fieldset {
  border: none;
  text-align: center;
}

legend {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] { 
  display: inline-block;
  max-width: 500px;
  width: auto;
  margin-left: none;
  height: auto;
  vertical-align: middle;
}

.submit {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.submit:hover {
  background-color: #45a049;
}